<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="home.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>같이배달</h1>
            <div class="nav">
                <ul>
                    <li><a href="post.html">post</a></li>
                    <li><a href="board.html">board</a></li>
                    <li><a href="home.html">home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class ="colorBox" style='background-color: #ED785E'>
        <img src="./png/boy.png" class="boyPic">
        <img src="./png/thoughtbubble.png" class="bubble">
        <p class="bubble_text">“ 우리 같이 배달비 아끼자! ”</p>
    </div>
    <div class="description">
        <th>학교까지 배달 시키면 나오는 배달비 아깝지 않으셨나요?<br>
            같이 배달를 통해 배달비를 아껴봐요!</th><br>
        <button class="my_btn" onClick="location.href='post.html'">지금 시작하기</button>
    </div>

</body>
</html>