<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restaurant</title>
    <link rel="stylesheet" href="restaurant.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>같이배달</h1>
        <div class="nav">
            <ul>
                <li><a href="post.html">post</a></li>
                <li class="active"><a href="board.html">board</a></li>
                <li><a href="home.html">home</a></li>
            </ul>
        </div>
    </div>
    <div class="board-categories">
        <span class="category">전체</span>
        <span class="category active">맛집</span>
        <span class="category">배달</span>
        <span class="category">기타</span>
        <a href="newpost.html" class="new-post-link">새로운 글 작성하기</a>
    </div>
</div>
</body>
</html>